# 複製成 .env 後修改；沒設定的項目會用 config/*.yaml 的預設值
# 規則：config("a.b.c") 對應環境變數 A_B_C

########################################## RECOGNITION ##########################################
SERVICES_RECOGNITION_PORT=4051
SERVICES_RECOGNITION_MAX_WORKERS=10
SERVICES_RECOGNITION_RUNTIME_DIR=runtime

########################################## DESKTOP ##########################################
DESKTOP_TITLE='Landan Desktop'

########################################## OPENVINO ##########################################
OPENVINO_DEVICE='CPU'
OPENVINO_MODE='lazy'    # eager lazy

OPENVINO_DETECT_POKER_CARD_THRES=0.5
OPENVINO_CLASSIFY_POKER_CARD_THRES=0.8
OPENVINO_CLASSIFY_POKER_RANK_THRES=0.8
OPENVINO_CLASSIFY_POKER_SUIT_THRES=0.8
